* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e8e8e8;

  @media (min-width: 1200px) {
    font-size: 62.5%;
  }

  /* @media (min-width: 1200px) {
    font-size: 100%;
  } */

  /* @media (min-width: 800px) and (max-width: 1200px) {
    font-size: 100%;
  }

  @media (min-width: 600px) and (max-width: 800px) {
    font-size: 81.25%;
  } */

  @media (min-width: 0px) and (max-width: 1200px) {
    font-size: 62.5%;
  }
}

body {
  -ms-overflow-style: none;
  font-size: 16px;
  width: 100vw;
  max-width: 440px;
  height: 100vh;
  overflow-y: scroll;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}

p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

input,
button {
  outline: none;
  border: 0;
}

button {
  background: transparent;
  border: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
